.dark-theme-variables{
	background: black;
	color: #f6f6f6;
	--color-white: #181a1e;
	--color-dark: #edeffd;
	
	--color-light: rgb(0, 0, 0, 0.4);
	box-shadow: none;
}
.insights{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
}

.insights > div{
	background: #fff;
	padding:  1.8rem;
	border-radius: 2rem;
	margin-top: 1rem;
	box-shadow: 0px 0px 6px 3px rgba(21, 47, 48, 0.118);
	transition: 0.5s ease-in;
}

.insights > div:hover{
	transform: scale(1.03);
	transition: 0.5s ease-out;
	box-shadow: none;
	box-shadow: 0px 0px 11px 1px rgba(31, 176, 184, 0.259);

}

.insights > div span{
	background: rgb(77, 194, 190);
	padding: 0.5rem;
	border-radius: 40px;
	color: #fff;
	font-size: 2rem;
}

.insights > div .middle{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.insights > div .left h2{
    font-size: 2rem;
}
.insights > div .number h2{
    font-size: 2rem;
    color: red;
    margin-top: 2.5rem;
}
.dark-theme-variables .insights > div{
	transition: 0.8s ease-out;
	background: #1f2229;
	color: #f6f6f6;
	border: 2px solid white;
}
.dark-theme-variables .left h2{
	transition: 0.8s ease-out;
	color: #f6f6f6;
	
}

@media all and (max-width: 768px) {
    
    
    .insights{
		margin-top: 3rem;
		display: block;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.6rem;
	}
	
	.insights > div{
		background: #fff;
		padding:  1.8rem;
		border-radius: 2rem;
		margin-top: 1rem;
		box-shadow: 0px 0px 6px 3px rgba(21, 47, 48, 0.31);
		transition: 0.5s ease-in;
	}

	
}